body {
  text-align: center;
  margin: 100px auto
}

.container {
  width:90vw;
  height:360px;
  margin: 10% auto;
  background: white;
  /* border-radius: 1em; */
  border-bottom: red 5px solid;
  position: relative;
}

.character{
  height:70px;
  width:30px;
  /* background: url("../images/running-man.gif"); */
  background-size: contain;
  background-position: bottom;
  position: absolute;
  bottom: 0;
  left: 100px;
  display:flex;
}

img{
  width:30px;
  position:absolute;
  right:0;
  bottom:0;
}


.barrier{
  /* height:70px; */
  /* width:30px; */
  background: black;
  background-size: cover;
  background-position: bottom;
  position: absolute;
  bottom: 0;
  left: 90%;
}
