body {
  text-align: center;
  margin: auto;
  margin-top:11vh;
  font-family: "Open Sans","Trebuchet MS",Helvetica,sans-serif;
}

h2{
  margin: 10px;
}
/* Scoreboard */
.scoreboard{
  margin-bottom: 20px;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

/* ------------------ */
/* Main Content */
/* ------------------ */
.container {
  width:90vw;
  height:360px;
  margin: 10% auto;
  margin-top:0;
  border-bottom: #ce0f00 5px solid;
  position: relative;
}


/* Background */
.background-container{
  overflow: hidden;
  width:90vw;
  height:360px;
}
.sliding-background{
  height: 1000px;
  width:5760px;
  background: linear-gradient(rgba(255,255,255,0.95), rgba(255,255,255, 0.1)), url("../images/clouds-background.png");
  animation: slide 60s linear infinite;
}

/* Player character*/
.character{
  height:100px;
  width:40px;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  bottom: 0;
  left: 100px;
  display:flex;
}
.player{
  width:60px;
  position:absolute;
}

/* Obstacles */
.barrier{
  background-size: contain;
  background-position: bottom;
  position: absolute;
  bottom: 0;
  left: 90%;
}

/* Restart Game */
#restart{
  position: relative;
  bottom: 250px;
  font-size: 20px;
}

/* Change character buttons */
.buttons{
  margin: auto;
  width:25vw;
  display:flex;
  justify-content:space-between;

}
.btn{
  padding: 10px;
  border-radius: 10%;
  background: blue;
  color: white;
  border: blue 1px solid;
}

/* Animations */
@keyframes slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1920px, 0, 0); /* The image width */
  }
}
